# Dependencies
node_modules/

# Build Artifacts
dist/
build/
*.zip
*.xpi
*.pem

# Environment & Secrets
.env
.env.local
.env.*.local

# IDEs & System Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
